.directory
capturas/
iconos/
gitflow/
gitstats/
wsdl/
gen/com/google/zxing/client/android/R.java
SWADroidTest/
SWADroid/bin/
SWADroid/default.properties
SWADroid/project.properties
SWADroid/.classpath
SWADroid/.project
SWADroid/.settings
SWADroid/.directory
SWADroid/.DS_Store
SWADroid/src/es/ugr/swad/swadroid/Config.java
SWADroid/gen/es/ugr/swad/swadroid/BuildConfig.java
SWADroid/gen/es/ugr/swad/swadroid/R.java
SWADroid/gen/com/google/zxing/client/android/R.java
android-support-v7-appcompat/gen
android-support-v7-appcompat/bin
