SWADroid/bin/
SWADroid/default.properties
SWADroid/.classpath
SWADroid/.project
SWADroid/.settings/
capturas/
iconos/
gitstats/
SWADroidTest/
SWADroid/.DS_Store
SWADroid/gen/es/ugr/swad/swadroid/BuildConfig.java
SWADroid/gen/es/ugr/swad/swadroid/R.java
SWADroid/gen/com/google/zxing/client/android/R.java
