<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ugr.swad.swadroid"
    android:installLocation="auto"
    android:versionCode="41"
    android:versionName="0.9.3" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" >
    </uses-sdk>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" >
    </supports-screens>

    <application
        android:icon="@drawable/ic_launcher_swadroid"
        android:label="@string/app_name" >
        <activity
            android:name=".SWADMain"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:icon="@drawable/ic_launcher_swadroid"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preferences"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/set_preferences" >
        </activity>
        <activity
            android:name=".modules.Login"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/loginModuleLabel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.rollcall.Rollcall"
            android:label="@string/rollcallModuleLabel"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.rollcall.RollcallConfigDownload"
            android:label="@string/rollcallModuleLabel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.rollcall.sessions.NewPracticeSession"
            android:label="@string/sessionModuleLabel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.rollcall.sessions.SessionsHistory"
            android:label="@string/rollcallHistoryModuleLabel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.rollcall.sessions.SessionsList"
            android:label="@string/sessionModuleLabel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.rollcall.students.StudentsHistory"
            android:label="@string/studentsHistoryModuleLabel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.rollcall.students.StudentsList"
            android:label="@string/sessionModuleLabel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.Groups"
            android:label="@string/rollcallModuleLabel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="es.ugr.swad.swadroid.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.Courses"
            android:label="@string/coursesModuleLabel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.notifications.Notifications"
            android:label="@string/notificationsModuleLabel"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.tests.Tests"
            android:label="@string/testsModuleLabel"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.tests.TestsQuestionsDownload"
            android:label="@string/testsModuleLabel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.tests.TestsConfigDownload"
            android:label="@string/testsModuleLabel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.tests.TestsMake"
            android:configChanges="orientation"
            android:label="@string/testsModuleLabel"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.Messages"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/messagesModuleLabel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.notifications.NotificationItem"
            android:label="@string/notificationsModuleLabel"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.Notices"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/noticesModuleLabel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".sync.AccountAuthenticator"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.downloads.DirectoryTreeDownload"
            android:label="@string/documentsDownloadModuleLabel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.downloads.DownloadsManager"
            android:label="@string/documentsDownloadModuleLabel"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.groups.MyGroupsManager"
            android:label="@string/myGroupsModuleLabel"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.GroupTypes"
            android:label="@string/groupTypesModuleLabel"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.groups.SendMyGroups"
            android:label="@string/sendMyGroupsProgressTitle"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <provider
            android:name=".sync.DummyProvider"
            android:authorities="es.ugr.swad.swadroid.content"
            android:label="SWADroid"
            android:syncable="true" />

        <service
            android:name="es.ugr.swad.swadroid.sync.AccountAuthenticatorService"
            android:exported="true"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".modules.notifications.NotificationsSyncAdapterService"
            android:exported="true"
            android:process=":notifications" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_notifications" />
        </service>
    </application>

</manifest>