<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ugr.swad.swadroid"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_swadroid"
        android:label="@string/app_name"
        android:theme="@style/MockedAccountLight" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LoginActivity"
            android:icon="@drawable/ic_launcher_swadroid"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/set_preferences"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity android:name=".modules.RecoverPassword" />
        <activity
            android:name=".modules.Login.OldLogin"
            android:label="@string/loginModuleLabel" />
        <activity
            android:name=".modules.rollcall.Rollcall"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/rollcallModuleLabel"
            android:parentActivityName=".SWADMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.ugr.swad.swadroid.SWADMain" />
        </activity>
        <activity
            android:name=".modules.rollcall.EventsDownload"
            android:label="@string/rollcallModuleLabel" />
        <activity
            android:name=".modules.rollcall.UsersActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/rollcallModuleLabel"
            android:parentActivityName=".modules.rollcall.Rollcall" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.ugr.swad.swadroid.modules.rollcall.Rollcall" />
        </activity>
        <activity
            android:name=".modules.rollcall.UsersDownload"
            android:label="@string/rollcallModuleLabel" />
        <activity
            android:name=".modules.rollcall.UsersSend"
            android:label="@string/rollcallModuleLabel" />
        <activity
            android:name=".modules.Groups"
            android:label="@string/rollcallModuleLabel" />
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="es.ugr.swad.swadroid.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.Courses"
            android:label="@string/coursesModuleLabel" />
        <activity
            android:name=".modules.notifications.Notifications"
            android:label="@string/notificationsModuleLabel"
            android:parentActivityName=".SWADMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.ugr.swad.swadroid.SWADMain" />
        </activity>
        <activity
            android:name=".modules.notifications.NotificationItem"
            android:label="@string/notificationsModuleLabel"
            android:parentActivityName=".modules.notifications.Notifications" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.ugr.swad.swadroid.modules.notifications.Notifications" />
        </activity>
        <activity
            android:name=".modules.tests.Tests"
            android:label="@string/testsModuleLabel"
            android:parentActivityName=".SWADMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.ugr.swad.swadroid.SWADMain" />
        </activity>
        <activity
            android:name=".modules.tests.TestsQuestionsDownload"
            android:label="@string/testsModuleLabel" />
        <activity
            android:name=".modules.tests.TestsConfigDownload"
            android:label="@string/testsModuleLabel" />
        <activity
            android:name=".modules.tests.TestsMake"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/testsModuleLabel"
            android:parentActivityName=".modules.tests.Tests" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.ugr.swad.swadroid.modules.tests.Tests" />
        </activity>
        <activity
            android:name=".modules.messages.Messages"
            android:configChanges="orientation|screenSize"
            android:label="@string/messagesModuleLabel"
            android:parentActivityName=".SWADMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.ugr.swad.swadroid.SWADMain" />
        </activity>
        <activity
            android:name=".modules.messages.FilterUsersList"
            android:configChanges="orientation|screenSize"
            android:label="@string/filterUsersListModuleLabel" />
        <activity
            android:name=".modules.messages.UsersList"
            android:configChanges="orientation|screenSize"
            android:label="@string/messagesModuleLabel" />
        <activity
            android:name=".modules.Notices"
            android:label="@string/noticesModuleLabel"
            android:parentActivityName=".SWADMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.ugr.swad.swadroid.SWADMain" />
        </activity>
        <activity android:name=".sync.AccountAuthenticator" />
        <activity
            android:name=".modules.downloads.DirectoryTreeDownload"
            android:label="@string/documentsDownloadModuleLabel" />
        <activity
            android:name=".modules.downloads.GetFile"
            android:label="@string/documentsDownloadModuleLabel" />
        <activity
            android:name=".modules.downloads.DownloadsManager"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/documentsDownloadModuleLabel"
            android:parentActivityName=".SWADMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.ugr.swad.swadroid.SWADMain" />
        </activity>
        <activity
            android:name=".modules.groups.MyGroupsManager"
            android:label="@string/myGroupsModuleLabel"
            android:parentActivityName=".SWADMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.ugr.swad.swadroid.SWADMain" />
        </activity>
        <activity
            android:name=".modules.GroupTypes"
            android:label="@string/groupTypesModuleLabel" />
        <activity
            android:name=".modules.groups.SendMyGroups"
            android:label="@string/sendMyGroupsProgressTitle" />
        <activity
            android:name=".modules.GenerateQR"
            android:parentActivityName=".SWADMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.ugr.swad.swadroid.SWADMain" />
        </activity>
        <activity
            android:name=".modules.information.Information"
            android:configChanges="orientation|screenSize"
            android:label="@string/informationModuleLabel"
            android:parentActivityName=".SWADMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.ugr.swad.swadroid.SWADMain" />
        </activity>
        <activity
            android:name=".modules.notifications.NotificationsMarkAllAsRead"
            android:label="@string/notificationsMarkAllAsReadModuleLabel" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <provider
            android:name=".sync.DummyProvider"
            android:authorities="es.ugr.swad.swadroid.content"
            android:label="SWADroid"
            android:syncable="true" />

        <service
            android:name=".sync.AccountAuthenticatorService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".modules.notifications.NotificationsSyncAdapterService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_notifications" />
        </service>
        <service
            android:name=".modules.Login.LoginService"
            android:exported="false" >
        </service>
    </application>

</manifest>
